 .userStatusP {
  font-size:1.2em;
  border-color:#007bff;
  border-style:solid;
  border-radius: 10px;
  margin: 1em;
  padding:1em;
}
.sorry{
font-size:1.5em;
  border-color:#ffd000;
  border-style:solid;
  border-radius: 20px;
  border-width:10px;
  margin: 1em;
  padding:1em;

}
.text-center h2{
font-size:1.2em;
padding:10px;
}

.resultFeat {
    padding-top:80px;
    padding-bottom:50px;
}

.resultFeat td {
    font-size:1.2em;
    text-align: center;  
}
.searchFeat {
    font-size:1.2em;
   }
.resultFeat h3{
    font-size:1.5em;
    padding-bottom:20px;
}
