.container-fluid {
  padding-top: 30px;
  margin-top: 35px;
}

.titleh1{
  padding-bottom: 2rem;
  padding-top: 6rem;

}
.row p{
  text-align: left;
  padding-bottom: 2rem;
}
.row1 p{
  text-align: left;
  padding-bottom: 2rem;
}

/* ] */
.images {
  align-items: center;
  text-align: center;
  justify-content: center;
  position: flex;
}
.images h1{
  padding-top: 1rem;
}
.history {
  text-align: center;
  /* margin: auto; */
  justify-content: center;
  /* text-justify: center; */
  /* display: column; */
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  padding-bottom: 0rem;
}
.history h1{
  padding-top: 2rem;
}
table,
td,
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  /* display: table-cell; */
}
.row1 h2 {
  font-size: 2.5rem;
  text-align: left;
}


.App{
   float: left;
  margin: 1rem;
  color: #000000;
  outline: none;
  /* display: flex; */
}

.details-ul1 {
  color: #000000;
}
.linkk:hover {
  color: rgb(0, 104, 240);
}
.details-ul {
  text-decoration: none;
  list-style: none;
}
.details-ul h6,
li {
  color: #000000;
}
th {
  width: 5%;
}

/* .row1 h1{
  padding-bottom: 1rem;
  text-align: left;
} */

.row1 ul {
  /* padding-bottom: 1rem;   */
  text-align: left;
  font-size: 1.75rem;
}
.row1 li{
  list-style: none;
  padding-right: 1rem;

}

.read-more-link {
  color: blueviolet;
  text-decoration: underline;
  cursor: pointer;
}
.read-more-link  h3{
text-align: left;
}
.extra-content {
  color: rgb(54, 54, 54);
  text-align: left;
  
}

